.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Alegreya Sans', sans-serif;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-heading {
  margin: 10px 0;
  font-size: 24px;
  color: #ee697d;
  font-family: 'Alegreya Sans', sans-serif;
}

.card-description {
  margin: 0;
  font-size: 16px;
  color: #666;
  font-family: 'Alegreya Sans', sans-serif;
}

.card-price {
  margin: 10px 0;
  font-size: 16px;
  color: #666;
  font-weight: bold;
}

.card-price-amount {
  color: #ee697d;
}

.card-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #ee697d;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Alegreya Sans', sans-serif;
}

.card-button:hover {
  background-color: #ef4f67;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cards-column {
  flex-basis: calc(100% / 3 - 40px);
  margin: 0 20px;

  padding: 20px;
  margin-bottom: 10px;
}
.packages {
  font-weight: 500;
  font-size: 35px;
  line-height: 54px;
  color: #666;
}
