.hero {
  margin-top: auto;
  height: 400px;
  width: 1350px;
}
.hero-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ee697d;
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
