navbar {
  display: flex;
  flex-direction: column;
}
.contacts {
  background-color: var(--shade-color);
  height: 60px;
}
.logo {
  max-width: 96px;
}
.contact-items {
  max-width: 1249px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  list-style-type: none;
}
.bars {
  display: none;
}
.navs {
  max-width: 1249px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.links {
  list-style-type: none;
  gap: 93px;
  display: flex;
  font-size: 24px;
  font-weight: 500;
}
.contact-button {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  max-height: 44px;
}
@media screen and (max-width: 700px) {
  .bars {
    display: block;
    width: 24px;
  }
  .contacts {
    display: none !important;
  }
  .contact-items {
    display: none;
  }
  .contact-button {
    display: none;
  }
  .links {
    display: none;
  }
  .navs {
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
  }
  .logo {
    width: 82px;
  }
}
