.how-container {
  flex-direction: column;
}
.item {
  width: 100px;
  height: 100px;
}
.how-items {
  display: flex;
  flex-direction: row;
  gap: 75px;
}
@media screen and (max-width: 900px) {
  .how-items {
    flex-direction: column;
    gap: 40px;
  }
  .item {
    width: 70px;
    height: 70px;
  }
}
