.flogo {
  height: 200px;
}

.footer-container {
  background-color: #313131;
  justify-content: space-around !important;
}

.topic {
  color: var(--primary);
}
.fli {
  color: var(--white-color) !important;
  margin-bottom: 15px;
  margin-top: 20px;
}
.flinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 800px) {
  .footer-container {
    background-color: #313131;
    height: 70px;
  }
  .flinks {
    display: none;
  }
  .flogo {
    display: none;
  }
  .fcontact {
    display: none;
  }
}
